<header class="header">

  <div class="header_content">
   <div class="customLetter_nav">
    <div class="clock_cal">
      <div id="clock">Loading...</div>
      <div id="calendar">Loading...</div>
      <script>
        const monthNames = [
          'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
          'September', 'October', 'November', 'December'
        ];

        function updateClock() {
          var now = new Date();
          var hours = now.getHours().toString().padStart(2, '0');
          var minutes = now.getMinutes().toString().padStart(2, '0');
          var seconds = now.getSeconds().toString().padStart(2, '0');

          var day = now.getDate().toString().padStart(2, '0');
          const Month = monthNames[now.getMonth()];

          var timeString = `${hours}:${minutes}:${seconds}`;
          const dayString = `${Month} ${day}`;
          document.getElementById('clock').textContent = timeString; //id를 timeString으로
          document.getElementById('calendar').textContent = dayString; //id를 timeString으로
        }
        // 초당 갱신
        setInterval(updateClock, 1000);
        // 로드 시 업데이트
        updateClock();
      </script>
    </div>
    </div>

    
    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>
    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">{{ site.user.job }}</span>
    <span class="header_mes">{{ site.user.message }}</span>

    <nav class="nav">
      {% if site.user.aboutme %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/aboutme.html">About me</a>
        </li>
      </ul>
      {% endif %}
      {% assign sorted_additional_pages = site.additional_pages | sort: 'order' %}
      {% for page in sorted_additional_pages %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ page.url }}" id="aaa">{{ page.title }}</a>
        </li>
      </ul>
      {% endfor %}
      {% for category in site.categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">{{ cat_name }}
            <!-- ({{ category | last | size }}) -->
          </a>
        </li>
      </ul>
      {% endfor %}
    </nav>
  </div>

</header>

