<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="content">

    {% include header.html %}

    {% include mobile_menu.html %}
    
    <main class="main">
      
    {{ content }}

    <h1>Tag: {{ page.title }}</h1>
    <h3><div style="color:cadetblue; display:inline-block;">{{page.title}} 태그</div>의 모음입니다.</h3>
ㄴ

    {% for post in page.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}

    </main>

  </div>

  {% include footer.html %}
  {% include js.html %}
</body>
</html>
